:root {
  --color-main: #101828;
  --color-text: #475467;
  --color-gray: #6c717b;
  --color-gray-light: #dadde1;
  --color-white: #ffffff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 64px 0 64px;
}

button {
  cursor: pointer;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
