.container {
  max-width: 1440px;
  width: 100%;
  height: 696px;
  margin: 0 auto;
  color: #f7f7f7;
  background-image: url("/images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 64px;
  display: flex;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.67;
  margin-bottom: 16px;
}

.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 40px;
}

.errorWrapper {
  display: flex;
  margin: 40 auto;
  gap: 24px;
}

.errorTitle {
  font-size: 24px;
}

.errorBtn {
  width: 166px;
  height: 56px;
  border-radius: 200px;
  padding: 16px auto;
  background-color: #e44848;
  color: #fff;
  text-align: center;
}
