.container {
  width: 888px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.item {
  border: 1px solid var(--color-gray-light);
  padding: 24px;
  border-radius: 20px;
  width: 100%;
  height: 368px;
  display: flex;
  gap: 24px;
}

.image {
  width: 292px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.image img {
  object-fit: cover;
  object-position: center;
}

.info {
  display: flex;
  flex-direction: column;
  width: 524px;
  gap: 24px;
}

.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  display: flex;
  gap: 12px;
  align-items: center;
}

.btnHeart {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  color: #101828;
}

/* .btnHeart svg {
  color: #101828;
} */

.btnHeartActive {
  color: #e44848;
}

/* .favorites {
  color: #e44848;
} */

.ratingLocation {
  display: flex;
  gap: 16px;
}

.rating,
.location {
  display: flex;
  gap: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
}

.rating {
  color: #ffc531;
}
.ratingText {
  color: var(--color-main);
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-gray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loadMoreBtn {
  border: 1px solid var(--color-gray-light);
  width: 145px;
  height: 56px;
  border-radius: 200px;
  padding: 16px 0;
  background-color: inherit;
  color: var(--color-main);
  text-align: center;
}

.loadMoreBtn:hover,
.loadMoreBtn:active {
  border: 1px solid #d84343;
}

.loadMoreWrapper {
  display: flex;
  justify-content: center;
  margin: 40px 0 60px;
}
