.container {
  width: 888px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.item {
  width: 100%;
  height: 320px;
  display: flex;
  gap: 24px;
}

.image {
  width: 292px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.image img {
  object-fit: cover;
  object-position: center;
}

.info {
  display: flex;
  flex-direction: column;
  width: 524px;
  gap: 24px;
}

.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  display: flex;
  gap: 12px;
  align-items: center;
}

.ratingLocation {
  display: flex;
  gap: 16px;
}

.rating,
.location {
  display: flex;
  gap: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-gray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details {
  display: flex;
  height: 104px;
  flex-wrap: wrap;
  gap: 8px;
}

.comfort {
  border-radius: 100px;
  padding: 12px 18px;
  background-color: #f2f4f7;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  display: flex;
}
