.container {
  max-width: 1440px;
  padding: 48px 64px 52px;
  display: flex;
  gap: 64px;
  margin: 0 auto;
  width: 100%;
}

.disable {
  display: none;
}

.loadMoreBtn {
  border: 1px solid var(--color-gray-light);
}
