.container {
  width: 1440px;
  padding: 48px 64px 80px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.general {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.head {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 8px;
}

.ratingLocation {
  display: flex;
  gap: 16px;
}

.rating,
.location {
  display: flex;
  gap: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  margin-bottom: 16px;
}

.rating {
  color: #ffc531;
}
.ratingText {
  color: var(--color-main);
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  display: flex;
  gap: 12px;
  align-items: center;
}

.imageWrapper {
  display: flex;
  gap: 48px;
}

.image {
  width: 292px;
  height: 312px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.image img {
  object-fit: cover;
  object-position: center;
}

.description,
.bookText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}

.bookText {
  color: var(--color-gray);
}

.tabs {
  display: flex;
  flex-direction: column;
}

.tabsTitlesWrapper {
  display: flex;
  gap: 40px;
}

.tabsTitles {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 24px;
  background-color: inherit;
  border: none;
  height: 48px;
  border-bottom: 5px solid #fff;
}

.activeTab {
  border-bottom: 5px solid #e44848;
}

.features {
  display: flex;
  gap: 40px;
}

.tabsHead {
  margin-bottom: 56px;
}

.line {
  border: none;
  border-top: 1px solid var(--color-gray-light);
}

.truckDetails,
.formWrapper {
  width: 631px;
  height: 588px;
  padding: 44px 52px;
  border-radius: 10px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formWrapper {
  background-color: inherit;
  border: 1px solid var(--color-gray-light);
  justify-content: start;
}

.detailsTitle,
.bookTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.bookTitle {
  margin-bottom: 8px;
}

.featuresWrapper {
  flex-shrink: 0;
}

.detItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formHead {
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.inputField {
  background-color: #f7f7f7;
  border: none;
  border-radius: 12px;
  padding: 18px 337px 18px 18px;
  width: 527px;
  height: 60px;
}

.form button {
  margin-top: 24px;
}

.textarea {
  height: 118px;
  resize: none;
}

.commentWrapper {
  width: 631px;
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding: 16px 0;
}

.commentHead {
  display: flex;
  gap: 16px;
  align-items: center;
}

.commentTitle {
  color: #e44848;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  background-color: #f2f4f7;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  padding: 15px 0;
}

.commentName {
  width: 96px;
  height: 44px;
}

.commentItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}

.stars {
  display: flex;
  gap: 4px;
}

.starActive {
  color: #ffc531;
}

.starInactive {
  color: #f2f4f7;
}
